<!DOCTYPE html>
<html>
    <head>
        <title>blank</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
        <div class="main-content">

        {{>header}}
        <img class="portrait" src="/images/me.jpg" alt="me" />
        </div>
        {{>footer}}
    </body>
</html>