<footer>
    (Just incase you missed them the first time:) <br/>
    <a href="/">Weather</a>, <a href="/about">About</a>, <a href="/help">Help</a>. <br />
COPYRIGHT - DO KNOT NICK - CR38ID BY {{name}}
</footer>